<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cal">
	
	<select id="volunList" parameterType="map" resultType="com.bong.cal.Schedule">
		SELECT vb.volunIdx as id, subject as title, TO_CHAR(volDate, 'YYYY-MM-DD') as startDay, TO_CHAR(volDate, 'YYYY-MM-DD') as endDay, startTime, endTime  FROM volun_bbs vb
			 JOIN memnumperdate mn ON vb.volunIdx=mn.volunIdx      
             WHERE <![CDATA[             
             (vb.serviceIdx = #{demander_seq} AND startDay>=#{start} AND startDay<=#{end})
        ]]>      
             ORDER BY startDay ASC, id DESC
	
	</select>
	
	<insert id="volunInsert" parameterType="com.bong.cal.Schedule">
		INSERT INTO volun_bbs(volunIdx, subject, content, savefileName, originalFileName, 
		serviceIdx, startDay, endDay, startTime, endTime, place, progress, volunteer_type,
		volunDays, themeNum) VALUES(volun_bbs_seq.NEXTVAL, #{title}, #{content}, #{saveFilename, jdbcType=VARCHAR}, #{originalFilename, jdbcType=VARCHAR},
		#{serviceIdx}, #{startDay}, #{endDay}, #{startTime}, #{endTime}, #{place}, '모집중', #{volunteer_type}, '금 토', #{themeNum})
	</insert>
	
	<insert id="volunInsertEach" parameterType="com.bong.cal.Schedule">
		INSERT INTO memNumPerDate(volDate, maxNum, volunIdx, volDateIdx)
		VALUES(#{eachDay}, #{eachDayValue}, volun_bbs_seq.CURRVAL, MEMNUMPERDATE_SEQ.NEXTVAL)
	</insert>
	
	<insert id="takeVolun" parameterType="map">
		INSERT INTO club_apply_${clubIdx}(clubApplyIdx, clubIdx, volunIdx, enabled) VALUES(CLUB_APPLY_SEQ.NEXTVAL, #{clubIdx}, #{volunIdx}, 0)
	</insert>
	
	<select id="articleForm" parameterType="map" resultType="com.bong.cal.Schedule">
		SELECT tot.*, ct2.subject as lSubject, ct1.subject as sSubject FROM ( SELECT volunIdx, subject, serviceName, 
		content, TO_CHAR(vb.created, 'yyyy-MM-dd') created, hitCount, vb.saveFileName, vb.serviceIdx, startDay, 
		endDay, startTime, endTime, place, progress, volunteer_type, volunDays, vb.themeNum FROM volun_bbs vb
		JOIN serviceInfo si ON vb.serviceIdx=si.serviceIdx) 
		tot LEFT OUTER JOIN theme ct1 ON tot.themenum=ct1.themenum LEFT OUTER JOIN theme ct2 ON ct1.parent=ct2.themenum 
		WHERE volunIdx=#{id}
	</select>
	
</mapper>