<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubfree" >
	<select id="clubFreeSeq" resultType="Integer">
		SELECT club_free_seq.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertFree" parameterType="com.bong.club.free.Free">
		INSERT INTO club_free_${clubIdx}(clubFreeIdx, userIdx, clubIdx, subject, content, saveFilename, originalFilename)
					VALUES(#{clubFreeIdx}, #{userIdx}, #{clubIdx}, #{subject}, #{content}, #{saveFilename, jdbcType=VARCHAR}, #{originalFilename, jdbcType=VARCHAR})
	</insert>
	
	<!-- 동아리 자유게시판 리스트 -->
	<select id="listFree" parameterType="map" resultType="com.bong.club.free.Free">
			SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		      SELECT tbFree.clubfreeIdx, userIdx, clubIdx, userName, subject
          , NVL(replyDataCount, 0) replyDataCount, created, content, hitCount
		       FROM
		       (
		           (
			         SELECT clubFreeIdx, m.userIdx, clubIdx, userName, subject
			             ,TO_CHAR(created, 'YYYY-MM-DD') created, content
					     ,hitCount
			          FROM club_free_${clubSeq} f 
                JOIN memberInfo m ON f.userIdx=m.userIdx
                <where>
                           <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                   </if>
	                   </where>
	                ) tbFree
			        LEFT OUTER JOIN
			        (
			                 SELECT clubfreeIdx, COUNT(*) replyDataCount
                                 FROM club_free_Reply_${clubSeq} r GROUP BY clubfreeIdx
			        ) tbReply ON tbFree.clubFreeIdx = tbReply.clubFreeIdx
            )
			    ORDER BY clubfreeIdx DESC
		<![CDATA[ 
		     ) tb WHERE ROWNUM <= #{end}
		  ) WHERE rnum >= #{start}
    ]]>
	
	</select>
	
	<!-- 동아리 자유게시판 글수세기-->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	         SELECT NVL(COUNT(*), 0) FROM club_free_${clubSeq} n
	        JOIN memberInfo m
	        ON n.userIdx=m.userIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="map">
		UPDATE club_free_${clubSeq} SET hitCount=hitCount+1 WHERE clubFreeIdx = #{num}
	</update>
	
	<!-- 글보기 -->
	<select id="readFree" resultType="com.bong.club.free.Free" parameterType="map">
		SELECT clubFreeIdx, m.userIdx, userName, subject, content
				   ,hitCount, f.created, saveFilename, originalFilename
		FROM club_free_${clubSeq} f JOIN memberInfo m ON f.userIdx=m.userIdx
		WHERE clubFreeIdx = #{num}
	</select>
	
	
	<!-- AND 가 필요 없는 경우 자동으로 제거 됨 -->
	<!-- 이전글 -->
	<select id="preReadFree" resultType="com.bong.club.free.Free" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubFreeIdx, subject
			      FROM club_free_${clubSeq} f
			      JOIN memberInfo m ON f.userIdx=m.userIdx
                  <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		               AND (clubFreeIdx > #{num})
		         		]]>
	                </where>
				ORDER BY clubFreeIdx ASC
			) tb WHERE ROWNUM=1	
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadFree" resultType="com.bong.club.free.Free" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubFreeIdx, subject
			      FROM club_free_${clubSeq} f
			      JOIN memberInfo m ON f.userIdx=m.userIdx
                  <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		               AND (clubFreeIdx < #{num})
		         		]]>
	                </where>
				ORDER BY clubFreeIdx DESC
			) tb WHERE ROWNUM=1
	</select>
	
	<!-- 수정 -->
     <update id="updateFree" parameterType="com.bong.club.free.Free">
         UPDATE club_free_${clubIdx} SET subject=#{subject}, content=#{content}
                    WHERE clubFreeIdx = #{clubFreeIdx}
      </update>
	
	<!-- 삭제 -->
      <delete id="deleteFree" parameterType="map">
           DELETE FROM club_Free_${clubSeq} WHERE clubFreeIdx = #{num}
      </delete>
      
     <!-- 댓글 처리................. -->
	<insert id="insertFreeReply" parameterType="com.bong.club.free.Reply">
	INSERT INTO club_free_reply_${clubSeq}(cfrIdx , clubFreeIdx, userIdx, content, answer)
	   VALUES (club_free_reply_seq.NEXTVAL, #{clubFreeIdx},#{userIdx}, #{content}, #{answer})
	</insert>
	
	<select id="replyDataCount" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_free_reply_${clubSeq} WHERE clubFreeIdx=#{num} AND answer=0
	</select>
	
	<select id="listReply" resultType="com.bong.club.free.Reply" 
	          parameterType="map">
			SELECT * FROM (
				    SELECT ROWNUM rnum, tb.* FROM (
				        SELECT tbreply.cfrIdx , clubFreeIdx, userName, userIdx 
				                    ,content, created, tbreply.answer
				                    ,NVL(answerCount, 0) answerCount, memImg AS saveFilename
				        FROM
				        (
						      (
							     SELECT cfrIdx, r.clubFreeIdx, r.userIdx,
		               userName, r.content, r.created, answer, memImg 
							        FROM club_free_reply_${clubSeq} r 
					                JOIN club_free_${clubSeq} n ON r.clubFreeIdx=n.clubFreeIdx
					                JOIN memberinfo m ON r.userIdx=m.userIdx
					                WHERE r.clubFreeIdx=#{num} AND answer=0
					           ) tbreply
					           LEFT OUTER JOIN
					           (
					                SELECT answer, COUNT(*) answerCount
		                                 FROM club_free_reply_${clubSeq} GROUP BY answer
					           ) tbanswer ON tbreply.cfrIdx = tbanswer.answer
			           )
			           ORDER BY cfrIdx DESC
		<![CDATA[	
			        ) tb WHERE ROWNUM <= #{end}
			    ) WHERE rnum >= #{start}
		]]>
	</select>
	
	<!-- 댓글별 답글 리스트 -->
	<select id="listReplyAnswer" resultType="com.bong.club.free.Reply" 
	          parameterType="Integer">
     SELECT cfrIdx, clubFreeIdx, tbreply.userIdx, userName, content, created, answer
	          FROM club_free_reply_${clubSeq} tbreply 
	          JOIN memberInfo m ON tbreply.userIdx=m.userIdx
              WHERE answer=#{answer}
              ORDER BY cfrIdx DESC
	</select>
	
	<!-- 댓글별 답글 개수 -->
	<select id="replyCountAnswer" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_free_reply_${clubSeq} WHERE answer=#{answer}
	</select>
	
	<delete id="deleteReply" parameterType="map">
	DELETE club_free_reply_${clubSeq} WHERE
	    <if test="mode == 'num' ">
			 clubFreeIdx=#{num}
		</if>
	    <if test="mode == 'reply' ">
			 CFRIDX IN 
               (SELECT CFRIDX FROM club_free_reply_${clubSeq} START WITH  CFRIDX = #{replyNum}
	            CONNECT BY PRIOR CFRIDX = answer)
		</if>
	    <if test="mode == 'answer' ">
			 CFRIDX=#{replyNum}
		</if>
	</delete>
	
	 
	<sql id="where-list">
		  <if test="searchKey=='userName'">
		      userName=#{searchValue}
		  </if>
		  <if test="searchKey=='subject'">
		      INSTR(subject, #{searchValue}) &gt; 0
		  </if>
		  <if test="searchKey=='content'">
		      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
		  </if>
		  <if test="searchKey=='created'">
		      TO_CHAR(b.created, 'YYYY-MM-DD') = #{searchValue}
		      OR TO_CHAR(b.created, 'YYYYMMDD') = #{searchValue}
		  </if>
	</sql>
</mapper>