<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubnotice">
	
	<insert id="insertNotice" parameterType="com.bong.club.notice.Notice">
		INSERT INTO club_notice_${clubIdx}(clubnoticeIdx, userIdx, clubIdx, subject, content, saveFilename, originalFilename)
			VALUES(club_notice_seq.NEXTVAL, #{userIdx}, #{clubIdx}, #{subject}
						,#{content}, #{saveFilename, jdbcType=VARCHAR}, #{originalFilename,jdbcType=VARCHAR})
	</insert>
	
	
	<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(b.created, 'YYYY-MM-DD') = #{searchValue}
	      OR TO_CHAR(b.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	         SELECT NVL(COUNT(*), 0) FROM club_notice_${clubSeq} n
	        JOIN memberInfo m
	        ON n.userIdx=m.userIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	<!-- 글리스트 -->
	<select id="listNotice" parameterType="map"
	            resultType="com.bong.club.notice.Notice">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT clubnoticeIdx, m.userIdx, userId, m.userName, subject
			           ,TO_CHAR(n.created, 'YYYY-MM-DD') created
					   ,hitCount, n.saveFilename
			        FROM club_notice_${clubSeq} n JOIN memberInfo m ON n.userIdx=m.userIdx
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
	                ORDER BY clubnoticeIdx DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 글보기 -->
	<select id="readNotice" resultType="com.bong.club.notice.Notice" parameterType="map">
		SELECT n.clubNoticeIdx, m.userIdx, userId, userName, subject, content
				   ,hitCount, n.created,  n.saveFilename, n.originalFilename
		FROM club_notice_${clubSeq} n JOIN memberInfo m ON n.userIdx=m.userIdx
		WHERE clubNoticeIdx = #{num}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="map">
		UPDATE club_notice_${clubSeq} SET hitCount=hitCount+1 WHERE clubNoticeIdx = #{num}
	</update>
	
	<!-- AND 가 필요 없는 경우 자동으로 제거 됨 -->
	<!-- 이전글 -->
	<select id="preReadNotice" resultType="com.bong.club.notice.Notice" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubNoticeIdx, subject
			      FROM club_notice_${clubSeq} n
			      JOIN memberInfo m ON n.userIdx=m.userIdx
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (clubNoticeIdx > #{num})
		                 ]]>
	                </where>
				ORDER BY clubNoticeIdx ASC
			) tb WHERE ROWNUM=1
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadNotice" resultType="com.bong.club.notice.Notice" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubNoticeIdx, subject
			      FROM club_notice_${clubSeq} n
			      JOIN memberInfo m ON n.userIdx=m.userIdx
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (clubNoticeIdx < #{num})
		                 ]]>
	                </where>
				ORDER BY clubNoticeIdx DESC
			) tb WHERE ROWNUM=1
	</select>
	
	<!-- 수정 -->
     <update id="updateNotice" parameterType="com.bong.club.notice.Notice">
         UPDATE club_notice_${clubIdx} SET subject=#{subject}, content=#{content}
                    ,saveFilename=#{saveFilename, jdbcType=VARCHAR}
                    ,originalFilename=#{originalFilename, jdbcType=VARCHAR}
                    WHERE clubNoticeIdx = #{clubNoticeIdx}
      </update>
	
	<!-- 삭제 -->
      <delete id="deleteNotice" parameterType="map">
           DELETE FROM club_notice_${clubSeq} WHERE clubNoticeIdx = #{num}
      </delete>
	
	<!-- 회원 탈퇴시 게시물 삭제 ................. -->
	<select id="listNoticeId" parameterType="String" resultType="com.bong.club.notice.Notice">
	   SELECT clubNoticeIdx, m.userIdx, userName, subject, content
				   ,hitCount, n.created,  n.saveFilename, n.originalFilename
		FROM club_notice_${clubSeq} n JOIN memberinfo m ON n.userIdx=m.userIdx
		WHERE m.userIdx = #{userIdx}
	</select>
    <delete id="deleteNoticeId" parameterType="String">
         DELETE FROM club_notice_${clubSeq} WHERE userIdx = #{userIdx}
    </delete>
    
	<select id="CNRSeq" resultType="Integer">
		SELECT club_notice_reply_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 댓글 처리................. -->
	<insert id="insertNoticeReply" parameterType="com.bong.club.notice.Reply">
	INSERT INTO club_notice_reply_${clubSeq}(CNRIDX , CLUBNOTICEIDX, userIdx, content, answer)
	   VALUES (#{replyNum}, #{num},#{userIdx},
	        #{content}, #{answer})
	</insert>
	
	<select id="replyDataCount" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_notice_reply_${clubSeq} WHERE clubNoticeIdx=#{num} AND answer=0
	</select>
	
	<select id="listReply" resultType="com.bong.club.notice.Reply" 
	          parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT tbreply.CNRIDX as replyNum, clubNoticeIdx as num, userId, userName 
		                    ,content, created, tbreply.answer
		                    ,NVL(answerCount, 0) answerCount
		        FROM
		        (
				      (
					     SELECT cnridx, r.clubNoticeIdx, r.userIdx, userid,
               userName, r.content, r.created, answer
					        FROM club_notice_reply_${clubSeq} r 
			                JOIN club_notice_${clubSeq} n ON r.clubNoticeIdx=n.clubNoticeIdx
			                JOIN memberinfo m ON r.userIdx=m.userIdx
			                WHERE r.clubNoticeIdx=#{num} AND answer=0
			           ) tbreply
			           LEFT OUTER JOIN
			           (
			                SELECT answer, COUNT(*) answerCount
                                 FROM club_notice_reply_${clubSeq} GROUP BY answer
			           ) tbanswer ON tbreply.CNRIDX = tbanswer.answer
	           )
	           ORDER BY replyNum DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 댓글별 답글 리스트 -->
	<select id="listReplyAnswer" resultType="com.bong.club.notice.Reply" 
	          parameterType="Integer">
     SELECT CNRIDX AS replyNum, clubNoticeIdx AS num, tbreply.userIdx, userName, content, created, answer
	          FROM club_notice_reply_${clubSeq} tbreply 
	          JOIN memberInfo m ON tbreply.userIdx=m.userIdx
              WHERE answer=#{answer}
              ORDER BY replyNum DESC
	</select>
	
	<!-- 댓글별 답글 개수 -->
	<select id="replyCountAnswer" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_notice_reply_${clubSeq} WHERE answer=#{answer}
	</select>
	
	<delete id="deleteReply" parameterType="map">
	DELETE club_notice_reply_${clubSeq} WHERE
	    <if test="mode == 'num' ">
			 clubNoticeIdx=#{num}
		</if>
	    <if test="mode == 'reply' ">
			 CNRIDX IN 
               (SELECT CNRIDX FROM club_notice_reply_${clubSeq} START WITH  CNRIDX = #{replyNum}
	            CONNECT BY PRIOR CNRIDX = answer)
		</if>
	    <if test="mode == 'answer' ">
			 CNRIDX=#{replyNum}
		</if>
	</delete>
	
</mapper>