<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="clubApply">
	
	<sql id="where-list">
	  <if test="searchKey=='serviceName'">
	      s.serviceName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(v.subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(v.created, 'YYYY-MM-DD') = #{searchValue}
	      OR TO_CHAR(v.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"  resultType="Integer">
	  SELECT NVL(COUNT(*), 0) FROM volun_bbs v
	        JOIN club_apply a ON v.volunIdx=a.volunIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	
	<!-- 글리스트 -->
	<select id="listApply" parameterType="map" resultType="com.bong.club.apply.Apply">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* 
		    FROM (
			     SELECT a.clubApplyIdx, v.volunIdx AS volunIdx, s.serviceName, subject, v.startDay, v.endDay, a.enabled,
			     		   progress, place, volunteer_type, v.volunDays, NVL(replyCount, 0) replyCount,
			     		  ( (SELECT NVL(COUNT(*), 0) FROM club_apply_memlist c JOIN club_apply a ON c.clubApplyIdx=a.clubApplyIdx 
                       		 WHERE a.volunIdx = v.volunIdx)+
                       		( SELECT NVL(COUNT(*), 0) FROM volun_bbs_memlist vb
		                      WHERE vb.volunIdx=v.volunIdx))AS applyNum,
		                    ( select sum(maxNum) from MEMNUMPERDATE mnpd where mnpd.volunIdx=v.volunIdx ) as maxNum
		                   
        	    FROM volun_bbs v JOIN club_apply a ON v.volunIdx=a.volunIdx
			        					JOIN serviceInfo s ON v.serviceIdx=s.serviceIdx
					                    LEFT OUTER JOIN
								        (
								             SELECT clubApplyIdx, count(*) replycount
					                         FROM club_applyR tbreply GROUP BY clubApplyIdx
								        ) tbreply ON a.clubApplyIdx = tbreply.clubApplyIdx
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
			                  AND a.enabled=1
		                 </if>
		                <if test="searchValue == null and searchValue ==''">
		            	   where a.enabled=1 
		                </if>
	               </where>
	              
	                ORDER BY volunIdx DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 글보기 -->
	<select id="readApply" resultType="com.bong.club.apply.Apply" parameterType="Integer">
		SELECT a.CLUBAPPLYIDX,v.volunIdx AS volunIdx, s.serviceName, v.subject, v.startDay, v.endDay, a.enabled, progress, place, volunteer_type, v.volunDays, 
				startTime, endTime, content,v.created,v.modified, t.subject as tsubject, a.hitCount, v.serviceIdx,
				 ( SELECT subject FROM theme th WHERE th.themenum=t.parent) AS tsubject_parent,
			     ( (SELECT NVL(COUNT(*), 0) FROM club_apply_memlist c JOIN club_apply a ON c.clubApplyIdx=a.clubApplyIdx 
                    WHERE a.volunIdx = v.volunIdx)+
                   ( SELECT NVL(COUNT(*), 0) FROM volun_bbs_memlist vb
		             WHERE vb.volunIdx=v.volunIdx))AS applyNum,
		         ( select sum(maxNum) from MEMNUMPERDATE mnpd where mnpd.volunIdx=v.volunIdx ) as maxNum
        	    
       FROM volun_bbs v 
       			JOIN club_apply a ON v.volunIdx=a.volunIdx
       			JOIN serviceInfo s ON v.serviceIdx=s.serviceIdx
        	  JOIN theme t ON v.themenum=t.themenum
		WHERE clubApplyIdx = #{num}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE volun_bbs SET hitCount=hitCount+1 WHERE volunIdx= #{num}
	</update>
	
	<!-- 클럽게시판 조회수 증가 -->
	<update id="updateHitCount_club" parameterType="Integer">
		UPDATE club_apply SET hitCount=hitCount+1 WHERE clubApplyIdx= #{clubApplyIdx}
	</update>
	
	<!-- AND 가 필요 없는 경우 자동으로 제거 됨 -->
	<!-- 이전글 -->
	<select id="preReadApply" resultType="com.bong.club.apply.Apply" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubApplyIdx, subject, progress
			FROM volun_bbs v JOIN club_apply a ON v.volunIdx=a.volunIdx
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (clubApplyIdx > #{num})
		                 ]]>
	                </where>
				ORDER BY clubApplyIdx ASC
			) tb WHERE ROWNUM=1
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadApply" resultType="com.bong.club.apply.Apply" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT clubApplyIdx, subject, progress
			 FROM volun_bbs v JOIN club_apply a ON v.volunIdx=a.volunIdx
			 
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (clubApplyIdx < #{num})
		                 ]]>
	                </where>
				ORDER BY clubApplyIdx DESC
			) tb WHERE ROWNUM=1
	</select>
	
	
	<!--								 댓글 처리	 								-->
	
	<select id="CARSeq" resultType="Integer">
		SELECT club_applyR_seq.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertApplyReply" parameterType="com.bong.club.apply.Reply">
	INSERT INTO club_applyR(CARIDX , clubApplyIdx, userIdx, content, answer)
	   VALUES (#{replyNum}, #{num},#{userIdx}, #{content}, #{answer})
	</insert>
	
	<select id="replyDataCount" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_applyR WHERE clubApplyIdx=#{num} AND answer=0
	</select>
	
	<select id="listReply" resultType="com.bong.club.apply.Reply" 
	          parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT tbreply.CARIDX as replyNum, clubApplyIdx as num, tbreply.userIdx, tbreply.userName 
		                    ,content, created, tbreply.answer, tblike.likeCount
		                    ,NVL(answerCount, 0) answerCount
		        FROM
		        (
				      (
					     SELECT CARIDX, r.clubApplyIdx, r.userIdx, m.userName, r.content, r.created, answer
					        FROM club_applyR r
			                JOIN club_apply a ON r.clubApplyIdx=a.clubApplyIdx
			                JOIN memberInfo m ON r.userIdx=m.userIdx
			                WHERE r.clubApplyIdx=#{num} AND answer=0
			           ) tbreply
			           LEFT OUTER JOIN
			           (         SELECT answer, COUNT(*) AS answerCount
                                 FROM club_applyR GROUP BY answer
			           ) tbanswer ON tbreply.CARIDX = tbanswer.answer
	           		   LEFT OUTER JOIN
	           		   (
	           			  SELECT COUNT(*) likeCount, carIdx
             		      FROM club_applyR_like GROUP BY carIdx
	           		 )tblike ON tbreply.CARIDX = tblike.CARIDX
	           )
	           ORDER BY replyNum DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 															댓글삭제  														-->
	<delete id="deleteReply" parameterType="map"> 
		DELETE club_applyR WHERE
	    <if test="mode == 'num' ">
			 clubApplyIdx=#{num}
		</if>
	    <if test="mode == 'reply' ">
			 CARIDX IN 
               (SELECT CARIDX FROM club_applyR START WITH CARIDX = #{replyNum}
	            CONNECT BY PRIOR CARIDX = answer)
		</if>
	    <if test="mode == 'answer' ">
			 CARIDX=#{replyNum}
		</if>
	</delete>
	
	<!-- 																대댓글 개수 세기											-->
	<select id="replyCountAnswer" resultType="Integer"   parameterType="Integer">
	   SELECT NVL(COUNT(*), 0)
	        FROM club_applyR WHERE answer=#{answer}
	</select>
	
	<!-- 대댓글 리스트 -->
	<select id="listReplyAnswer" resultType="com.bong.club.apply.Reply" parameterType="Integer">
     SELECT CARIDX AS replyNum, clubApplyIdx AS num, tbreply.userIdx, m.userName, content, created, answer
	          FROM club_applyR tbreply 
	          JOIN memberInfo m ON tbreply.userIdx=m.userIdx
              WHERE answer=#{answer}
              ORDER BY replyNum DESC
	</select>
	
	<!-- 								댓글 좋아요 추가																-->
	<insert id="insertReplyLike" parameterType="com.bong.club.apply.Reply">
	INSERT INTO club_applyR_like(CARIdx, userIdx)
	   VALUES (#{replyNum}, #{userIdx})
	</insert>

	<!-- 								댓글 좋아요 세기 -->
	<select id="replyCountLike" resultType="map" parameterType="Integer">
	   SELECT  NVL(COUNT(*), 0) AS likeCount
	    FROM club_applyR_like
	    WHERE CARIdx=#{replyNum}
	</select>
	
	<!-- 									댓글 좋아요 취소											 -->
	
	 <select id="stateReplyLike" parameterType="com.bong.club.apply.Reply" resultType="Integer">
     SELECT NVL(COUNT(*),0) FROM club_applyR_like 
     WHERE userIdx=#{userIdx} AND CARIdx=#{replyNum}
    </select>
	
	<!-- 좋아요가 이미 눌렸을때 해제 되도록 -->
	<delete id="deleteReplyLike" parameterType="com.bong.club.apply.Reply">
	DELETE FROM club_applyR_like WHERE CARIdx=#{replyNum} AND userIdx=#{userIdx}
	</delete>
	
	<!-- 								게시물삭제															 -->
	<update id="deleteApply" parameterType="Integer">
			update club_apply set enabled=0 WHERE clubApplyIdx = #{num}
     </update>
	
	<!--   								봉사신청 리스트 목록 가져오기 -->
	<select id="readApplyList" parameterType="Integer" resultType="com.bong.member.Member">

	SELECT userName, userBirth, userGender, userAddr, m.userIdx, userTel, userEmail, hopeDate, memImg, MEMIMGNAME,
			TRUNC( MONTHS_BETWEEN( SYSDATE, userbirth)/12) as age
	FROM memberInfo m JOIN club_apply_memlist li ON m.userIdx=li.userIdx	
	WHERE li.clubApplyIdx=#{clubApplyIdx}
	ORDER BY userIdx, hopeDate
	</select>
	
	<!--   								봉사신청 리스트 희망날짜 가져오기 -->
	<select id="readApplyList_date" parameterType="Integer" resultType="com.bong.member.Member">

		SELECT userIdx , LISTAGG(hopeDate,',')WITHIN GROUP (ORDER BY userIdx) hopedate
		FROM club_apply_memlist WHERE clubApplyIdx=#{clubApplyIdx}
		GROUP BY userIdx; 
	</select>
	
</mapper>