<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dAdmin">


<!-- 수요처 메인 -->

<!-- 수요처인덱스메인 프로필 -->
<select id="deMainProfile" parameterType="map" resultType="com.bong.demander.admin.Dadmin">
		SELECT serviceIdx,serviceName,serviceBirth,serviceTel,
		serviceIntro,serviceAddr,serviceEmail,serviceImg,serviceImgName,
		subject as themeName
		FROM serviceInfo s JOIN theme t ON s.themenum=t.themenum
		WHERE serviceIdx=${demander_seq}
</select>

<select id="volunCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM volun_bbs WHERE serviceIdx=#{demander_seq}
</select>

<select id="volunList" parameterType="map" resultType="com.bong.demander.admin.Dadmin">
		SELECT volunIdx, subject, content, startDay, endDay, startTime, endTime,
		place, progress, volunteer_type, volunDays, themeNum FROM volun_bbs WHERE serviceIdx=#{demander_seq}
</select>

<!-- 메인에 띄울 봉사일정 small리스트 -->
	<select id="listDeVolunSmall" parameterType="map"
	            resultType="com.bong.demander.admin.Dadmin">
		  SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			    SELECT volunIdx, subject FROM volun_bbs
	         WHERE serviceIdx=${demander_seq}
                  ORDER BY volunIdx DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
<!-- 동아리 봉사신청 테이블 전부 검색 -->
<select id="searchTable" resultType="com.bong.demander.admin.Dadmin">
		<![CDATA[SELECT table_name as clubApplyTable FROM tabs WHERE (INSTR(table_name, 'CLUB_APPLY_', 1, 1)>0) AND (INSTR(table_name, 'CLUB_APPLY_M', 1, 1)<1)]]>
</select>

<select id="clubApplyCount" parameterType="map" resultType="Integer">
		SELECT COUNT(clubApplyIdx) FROM ${clubApplyTable} WHERE volunIdx=#{volunIdx} AND enabled=0
</select>

<select id="volunClub" parameterType="map" resultType="com.bong.demander.admin.Dadmin">
		SELECT clubName, clubApplyIdx, ca.clubIdx, volunIdx, enabled FROM ${clubApplyTable} ca
		JOIN clubinfo ci ON ca.clubIdx=ci.clubIdx
		WHERE volunIdx=#{volunIdx} AND enabled=0 
</select>

<select id="clubMemberList" parameterType="map" resultType="com.bong.demander.admin.Dadmin">
		SELECT DISTINCT(cam.userIdx), userName, userBirth, userAddr, userGender, userTel, userEmail, userJob FROM club_Apply_${clubIdx} ca
		JOIN club_Apply_memlist_${clubIdx} cam ON ca.clubApplyIdx=cam.clubApplyIdx
		JOIN memberinfo mi ON cam.userIdx=mi.userIdx
		WHERE ca.volunIdx=#{volunIdx}
</select>

<select id="clubInfoView" parameterType="Integer" resultType="com.bong.demander.admin.Dadmin">
		SELECT clubIdx, clubName, clubBirth, clubAddr, userId, introduce, themeNum, photoFileName as memImg FROM clubinfo
		WHERE clubIdx = #{clubIdx}
</select>

<select id="memberInfoView" parameterType="Integer" resultType="com.bong.demander.admin.Dadmin">
		SELECt userName, TO_CHAR(userBirth, 'yyyy-MM-dd') userBirth, userAddr, userGender,
		userTel, userEmail, userJob, TO_CHAR(created_date, 'yyyy-MM-dd') created_date, memimg, memimgname FROM memberInfo
		WHERE userIdx = #{userIdx}
</select>
</mapper>


	