<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demander">
<!-- 리뷰 create(insert) 관련 -->
	<!-- 리뷰인덱스시퀀스 -->
	<select id="DeReviewSeq" resultType="Integer">
		SELECT service_review_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 리뷰 글넣기 -->
	<insert id="insertDeReview" parameterType="com.bong.demander.review.DeReview">
	INSERT INTO service_review(servicereviewidx,subject,CONTENT,serviceidx,useridx)
	VALUES(#{serviceReviewIdx},#{subject},#{content},7,#{userIdx})
	</insert>
	
	
<!-- 파일 *********************** -->
	<!-- 리뷰 파일넣기 -->
	<insert id="insertFile" parameterType="com.bong.demander.review.DeReview">
	INSERT INTO service_review_file(servicefileidx,savefilename,originalfilename,servicereviewidx
	)VALUES(service_rf_seq.NEXTVAL,#{saveFilename, jdbcType=VARCHAR},#{originalFilename, jdbcType=VARCHAR},#{serviceReviewIdx})
	</insert>
	

	<select id="maxFileNum" resultType="Integer" parameterType="map">
		SELECT NVL(MAX(servicefileidx), 0) FROM service_review_file
	</select>
	
	<select id="listFile" parameterType="map"
	              resultType="com.bong.demander.review.DeReview">
	   SELECT serviceFileIdx as fileNum,serviceReviewIdx,saveFilename,originalFilename
	    FROM service_review_file WHERE serviceReviewIdx=#{serviceReviewIdx}  
	</select>
	
	<select id="readFile" parameterType="map"
	              resultType="com.bong.demander.review.DeReview">
		SELECT serviceFileIdx as fileNum, serviceReviewIdx, saveFilename,originalFilename
	    FROM service_review_file WHERE serviceFileIdx=#{serviceFileIdx}    
	</select>
	
	<delete id="deleteFile" parameterType="map">
	DELETE FROM service_review_file WHERE serviceReviewIdx =#{serviceReviewIdx}
	</delete>
	
<!-- 파일  끝*********************** -->	
	
	
	<!-- 리뷰 list관련 -->
	<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(b.created, 'YYYY-MM-DD') = #{searchValue}
	      OR TO_CHAR(b.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	  SELECT NVL(COUNT(*), 0) FROM service_review s
	        JOIN memberInfo m
	        ON s.userIdx=m.userIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	<!-- 리뷰 리스트 -->
	<select id="listDeReview" parameterType="map"
	            resultType="com.bong.demander.review.DeReview">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
          SELECT tbrev.servicereviewidx, tbrev.useridx,userid, username, subject
			          ,created,hitcount,NVL(replyCount, 0) replyCount,NVL(likeCount, 0) likeCount
        FROM
        (
         (
			     SELECT serviceReviewIdx, m.userIdx,userId, userName, subject
			           ,TO_CHAR(s.created, 'YYYY-MM-DD') created
					   ,hitCount
			        FROM service_review s
	       			 JOIN memberInfo m ON s.userIdx=m.userIdx
	       			  JOIN checkId c ON m.useridx=c.useridx
	       			  <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
                  )tbrev
                  LEFT OUTER JOIN
			        (
			                SELECT serviceReviewIdx, count(*) replycount
                                 FROM service_review_reply  tbreply GROUP BY serviceReviewIdx
			        ) tbreply ON tbrev.serviceReviewIdx = tbreply.serviceReviewIdx
	            ) LEFT OUTER JOIN
			           (
			                SELECT servicereviewidx, COUNT(*) likeCount
                                 FROM service_review_like GROUP BY servicereviewidx
			           ) tblike ON tbreply.servicereviewidx = tblike.servicereviewidx    
                   
	                ORDER BY serviceReviewIdx DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 리뷰 글보기 -->
	<select id="readDeReview" parameterType="map" resultType="com.bong.demander.review.DeReview">
		SELECT r.servicereviewidx, m.useridx, userid, username, subject,
		content,hitcount, r.created,NVL(replyCount, 0) replyCount,NVL(likeCount, 0) likeCount
		FROM service_review r JOIN memberinfo m ON r.useridx=m.useridx
		  JOIN checkId c ON m.useridx=c.useridx
   	    LEFT OUTER JOIN
			        ( SELECT serviceReviewIdx, count(*) replycount
                                 FROM service_review_reply  tbreply GROUP BY serviceReviewIdx
			        ) tbreply ON r.servicereviewidx = tbreply.servicereviewidx
          LEFT OUTER JOIN
			           (
			                SELECT servicereviewidx, COUNT(*) likeCount
                                 FROM service_review_like GROUP BY servicereviewidx
			           ) tblike ON tbreply.servicereviewidx = tblike.servicereviewidx
		WHERE r.servicereviewidx=#{serviceReviewIdx}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="hitCountDeReview" parameterType="Integer">
		UPDATE service_review SET hitCount=hitCount+1 WHERE servicereviewidx = #{serviceReviewIdx}
	</update>
	
	
	<!-- AND 가 필요 없는 경우 자동으로 제거 됨 -->
	<!-- 이전글 -->
	<select id="preReadDeReview" resultType="com.bong.demander.review.DeReview" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT serviceReviewIdx, subject
				FROM service_review r
					JOIN memberInfo m ON r.userIdx=m.userIdx
					<where>
						<if test="searchValue != null and searchValue != '' ">
							<include refid="where-list" />
						</if>
						      <![CDATA[
						           AND (servicereviewidx>#{num})
						      ]]>
				</where>
			ORDER BY serviceReviewIdx ASC
		)tb WHERE ROWNUM=1
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadDeReview" resultType="com.bong.demander.review.DeReview" 
				parameterType="map">
	SELECT tb.* FROM (
			SELECT serviceReviewIdx, subject
				FROM service_review r
					JOIN memberInfo m ON r.userIdx=m.userIdx
				<where>
						<if test="searchValue != null and searchValue != '' ">
							<include refid="where-list" />
						</if>
						      <![CDATA[
						           AND (servicereviewidx<#{num})
						      ]]>
				</where>
			ORDER BY serviceReviewIdx DESC
		)tb WHERE ROWNUM=1
	</select>
	
	<!-- 수정  service_review-->
     <update id="updateDeReview" parameterType="com.bong.demander.review.DeReview">
         UPDATE service_review SET subject=#{subject}, content=#{content}
                    WHERE serviceReviewIdx = #{serviceReviewIdx}
      </update>
      
   <!-- 수정  service_review_file-->
     <update id="updateDeReviewFile" parameterType="com.bong.demander.review.DeReview">
         UPDATE service_review_file SET originalFilename=#{originalFilename, jdbcType=VARCHAR}, 
         saveFilename=#{saveFilename, jdbcType=VARCHAR}
                    WHERE serviceReviewIdx = #{serviceReviewIdx}
    </update>
	
	<!-- 삭제  -->
      <delete id="deleteDeReview" parameterType="Integer">
           DELETE FROM service_review WHERE serviceReviewIdx = #{serviceReviewIdx}
      </delete>
      
    
    <!-- 좋아요상태 -->
    <select id="stateDeRevLike" parameterType="com.bong.demander.review.DeReview" resultType="Integer">
     SELECT NVL(COUNT(*),0) FROM service_review_like 
     WHERE userIdx=#{userIdx} AND serviceReviewIdx=#{serviceReviewIdx}
    </select>
    
    <!--send 좋아요-->
	<insert id="insertDeReviewLike" parameterType="com.bong.demander.review.DeReview">
	INSERT INTO service_review_like(serviceReviewIdx, userIdx)
	   VALUES (#{serviceReviewIdx}, #{userIdx})
	</insert>
	
	<!-- 좋아요가 이미 눌렸을때 해제 되도록 -->
	<delete id="deleteDeReviewLike" parameterType="com.bong.demander.review.DeReview">
	DELETE FROM service_review_like WHERE serviceReviewIdx=#{serviceReviewIdx} AND userIdx=#{userIdx}
	</delete>
	
	<!-- 
	<update id="updateDeRevLikeCount" parameterType="com.bong.demander.DeReview">
		UPDATE bbsReplyLike SET replyLike=#{replyLike} WHERE userId=#{userId} and replyNum=#{replyNum}
	</update> -->
	
	<select id="deRevCountLike" resultType="map" 
	           parameterType="Integer">
	   SELECT  NVL(COUNT(*), 0 ) likeCount  
	   FROM service_review_like WHERE serviceReviewIdx=#{serviceReviewIdx}
	</select>
      
      
	<!-- 댓글 처리................. -->
	<select id="SRRSeq" resultType="Integer">
		SELECT service_rr_seq.NEXTVAL FROM DUAL
	</select>
	
	<insert id="deRevInsertReply" parameterType="com.bong.demander.review.DeReviewReply">
	INSERT INTO service_review_reply(srrIdx, serviceReviewIdx, userIdx, CONTENT, answer)
    VALUES (#{replyNum}, #{num},#{userIdx},
	       #{content}, #{answer})
	</insert>
	
	
	<select id="DeRevReplyDataCount" resultType="Integer" 
	           parameterType="map">
	   SELECT NVL(COUNT(*), 0)
	        FROM service_review_reply WHERE serviceReviewIdx=#{serviceReviewIdx} AND answer=0
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="listDeReviewReply" resultType="com.bong.demander.review.DeReviewReply" 
	          parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT tbreply.SRRIDX as replyNum, serviceReviewIdx as num, userId, userName 
		                    ,content, created, tbreply.answer
		                    ,NVL(answerCount, 0) answerCount,NVL(likeCount, 0)likeCount
		        FROM
		        (
				      (
					     SELECT srridx, r.serviceReviewIdx, r.userIdx, userid,
               userName, r.content, r.created, answer
					        FROM service_review_reply r 
			                JOIN service_review s ON r.serviceReviewIdx=s.serviceReviewIdx
			                JOIN memberinfo m ON r.useridx=m.useridx
			                JOIN checkId c ON m.useridx=c.useridx
			                WHERE r.serviceReviewIdx=#{serviceReviewIdx} AND answer=0
			           ) tbreply
			           LEFT OUTER JOIN
			           (
			                SELECT answer, COUNT(*) answerCount
                                 FROM service_review_reply GROUP BY answer
			           ) tbanswer ON tbreply.SRRIDX = tbanswer.answer
			             LEFT OUTER JOIN
			           (
			                SELECT srridx, COUNT(*) likeCount
                                 FROM serv_rev_reply_like GROUP BY srridx
			           ) tblike ON tbreply.srridx = tblike.srridx
	           )
	           ORDER BY replynum DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>

	</select>

    <!-- 댓글별 답글 리스트 -->
	<select id="listDeRevReplyAnswer" resultType="com.bong.demander.review.DeReviewReply" 
	          parameterType="Integer">
       SELECT SRRIDX AS replyNum, serviceReviewIdx AS num, tbreply.userIdx, userName, content, created, answer
	          FROM service_review_reply tbreply 
	          JOIN memberInfo m ON tbreply.userIdx=m.userIdx
              WHERE answer=#{answer}
              ORDER BY replyNum DESC
	</select>
	
    <!-- 댓글별 답글 개수 -->
	<select id="DeRevReplyCountAnswer" resultType="Integer" 
	           parameterType="Integer">
	   SELECT NVL(COUNT(*), 0)
	        FROM service_review_reply WHERE answer=#{answer}
	</select>
	
	<!-- 댓글지우기 -->
	<delete id="deleteDeRevReply" parameterType="map">
	DELETE service_review_reply WHERE
	    <if test="mode == 'num' ">
			 serviceReviewIdx=#{num}
		</if>
	    <if test="mode == 'reply' ">
			 SRRIDX IN 
               (SELECT SRRIDX FROM service_review_reply START WITH  SRRIDX = #{replyNum}
	            CONNECT BY PRIOR SRRIDX = answer)
		</if>
	    <if test="mode == 'answer' ">
			 SRRIDX=#{replyNum}
		</if>
	</delete>
	
	<!-- 댓글 좋아요 -->
	  <!-- 좋아요상태 -->
    <select id="stateDeRevLikeRe" parameterType="com.bong.demander.review.DeReviewReply" resultType="Integer">
     SELECT NVL(count(*),0) FROM serv_rev_reply_like 
     WHERE userIdx=#{userIdx} AND SRRIDX=#{replyNum}
    </select>
    
    <!--send 좋아요-->
	<insert id="insertDeReviewLikeRe" parameterType="com.bong.demander.review.DeReviewReply">
	INSERT INTO serv_rev_reply_like(SRRIDX, userIdx)
	   VALUES (#{replyNum}, #{userIdx})
	</insert>
	
	<!-- 좋아요가 이미 눌렸을때 해제 되도록 -->
	<delete id="deleteDeReviewLikeRe" parameterType="com.bong.demander.review.DeReviewReply">
	DELETE FROM serv_rev_reply_like WHERE SRRIDX=#{replyNum} AND userIdx=#{userIdx}
	</delete>
	
	<!-- 좋아요 개수 -->
	<select id="deRevCountLikeRe" resultType="map" 
	           parameterType="Integer">
	   SELECT NVL(count(*),0) likeCount FROM serv_rev_reply_like WHERE SRRIDX=#{replyNum}
	</select>
      
<!-- 	
	(보류)댓글 좋아요/싫어요 처리.................
	<insert id="insertDeRevReplyLike" parameterType="com.bong.demander.review.DeReviewReply">
	INSERT INTO serv_rev_reply_like(replyNum, userId, replyLike)
	   VALUES (#{replyNum}, #{userId}, #{replyLike})
	</insert>

	<select id="DeRevReplyCountLike" resultType="map" 
	           parameterType="Integer">
	   SELECT  NVL(COUNT(DECODE(replyLike, 1, 1)), 0) likeCount,
			        NVL(COUNT(DECODE(replyLike, 0, 1)), 0) disLikeCount
	        FROM bbsReplyLike WHERE replyNum=#{replyNum}
	</select> -->
      
<!-- 	
	회원 탈퇴시 게시물 삭제 .................
	<select id="listNoticeId" parameterType="String" resultType="com.bong.club.notice.Notice">
	   SELECT clubNoticeIdx, m.userIdx, n.userIdx, userName, subject, content
				   ,hitCount, n.created,  n.saveFilename, n.originalFilename
		FROM club_notice n JOIN memberinfo m ON n.userIdx=m.userIdx
		WHERE m.userIdx = #{userIdx}
	</select>
    <delete id="deleteNoticeId" parameterType="String">
         DELETE FROM club_notice WHERE userIdx = #{userIdx}
    </delete>
	 -->
	
	

</mapper>