<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deMain">


<!-- 수요처 메인 -->

<!-- 검색 -->


<!-- 수요처인덱스메인 프로필 -->
<select id="deMainProfile" parameterType="map" resultType="com.bong.demander.main.DeMain">
		SELECT serviceIdx,serviceName,serviceBirth,serviceTel,
		serviceIntro,serviceAddr,serviceEmail,serviceImg,serviceImgName,
		subject as themeName
		FROM serviceInfo s JOIN theme t ON s.themenum=t.themenum
		WHERE serviceIdx=${demander_seq}
</select>
	
</mapper>