<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deQna">


<!-- 검색 list관련 -->
	<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(s.created, 'YYYY-MM-DD') = #{searchValue}
	      OR TO_CHAR(s.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- Qna인덱스시퀀스 -->
	<select id="DeQnaSeq" resultType="Integer">
		SELECT service_qna_seq.NEXTVAL FROM DUAL
	</select>
	
 	<!-- QnA -->
	<insert id="insertQna" parameterType="com.bong.demander.qna.Qna">
	  INSERT INTO service_qna(sqnaIdx, userIdx, subject, content,answer,groupNum) 
	  VALUES (#{sqnaIdx}, #{userIdx}, #{subject},#{content},#{answer},#{sqnaIdx})
	</insert>
	
	<insert id="insertQnaReply" parameterType="com.bong.demander.qna.Qna">
	  INSERT INTO service_qna(sqnaIdx, userIdx, subject, content,answer,groupNum) 
	  VALUES (service_qna_seq.NEXTVAL, #{userIdx}, #{subject},#{content},#{answer},#{answer})
	</insert>
	
	

	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
		 SELECT NVL(COUNT(*), 0) FROM service_qna s
		 JOIN checkId c ON s.userIdx=c.userIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	   <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>

	<!-- 글리스트 -->
	<select id="listQna" parameterType="map"
	            resultType="com.bong.demander.qna.Qna">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			      SELECT sqnaIdx, s.useridx,c.userId,userName,subject, CONTENT, hitCount,to_char(created,'YYYY-MM-DD') created
			      ,answer,groupNum
				  FROM service_qna s join checkId c on s.userIdx=c.userIdx 
                    <where>
	     	           <if test="searchValue!=null and searchValue!='' ">
	     	               <include refid="where-list"/>
	     	           </if>
	                </where>
	                 ORDER BY groupNum DESC,sqnaIdx ASC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 글읽기 -->
	<select id="readQna" resultType="com.bong.demander.qna.Qna" parameterType="Integer">
	      SELECT sqnaIdx, s.useridx,userId,userName, subject,created,CONTENT, hitCount
				FROM service_qna s join checkId c on s.userIdx=c.userIdx
				WHERE sqnaIdx = #{sqnaIdx}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE service_qna SET hitCount=hitCount+1 WHERE sqnaIdx =#{sqnaIdx}
	</update>


     <!-- 수정 -->
     <update id="updateQna" parameterType="com.bong.demander.qna.Qna">
         UPDATE service_qna SET subject=#{subject}, content=#{content} WHERE sqnaIdx =#{sqnaIdx}
      </update>
      
      <!-- 삭제 -->
      <delete id="deleteQna" parameterType="Integer">
             DELETE FROM service_qna WHERE sqnaIdx =#{sqnaIdx}
      </delete>
	
	


</mapper>