<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deGuest">

<insert id="insertGuest" parameterType="com.bong.demander.guest.Guest">
	  INSERT INTO service_guest_${demander_seq} (sguestIdx, userIdx, content)  
	  VALUES (service_guest_seq.NEXTVAL, #{userIdx}, #{content})
	</insert>
	
	<select id="dataCount" resultType="Integer" parameterType="Integer">
	SELECT NVL(COUNT(*), 0) FROM service_guest_${value}  
	</select>

     <select id="listGuest" parameterType="map"
                 resultType="com.bong.demander.guest.Guest">
		 SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		       SELECT sguestIdx, g.useridx, CONTENT, created,userName
		           FROM service_guest_${demander_seq} g JOIN checkId c ON g.useridx=c.useridx
		           ORDER BY sguestIdx DESC
<![CDATA[		               
		    ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
]]>
     </select>
     
     <delete id="deleteGuest" parameterType="map">
    	 DELETE FROM service_guest_${demander_seq}  WHERE sguestIdx=#{sguestIdx}
     </delete>

</mapper>