<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 회원정보 추가  -->    
	<select id="memberSeq" resultType="Integer">
		SELECT member_seq.NEXTVAL FROM DUAL
	</select>
	<insert id="insertMember" parameterType="Integer">
		INSERT INTO member(userIdx) values(#{userIdx})
	</insert>
	<insert id="insertMemberInfo" parameterType="com.bong.member.Member">
		INSERT INTO memberInfo
		(userIdx, userId, userName, userPwd, userBirth
			,userAddr, userGender, userTel, userEmail
			,userJob, memImgname, memImg)
		VALUES(#{userIdx},#{userId},#{userName},#{userPwd}
		,#{userBirth},#{userAddr},#{userGender},#{userTel}
		,#{userEmail},#{userJob},#{memImgname, jdbcType=VARCHAR},#{memImg, jdbcType=VARCHAR})
	</insert>
	<select id="readMemberLogin" resultType="com.bong.member.Member" parameterType="String">
	   SELECT userIdx, userId, userName, userPwd,memImgname,memImg
	          FROM memberInfo
	          WHERE userIdx=#{userIdx} 
	
	</select>
	<update id="updateLastLogin" parameterType="String">
	  UPDATE memberInfo SET last_login=SYSDATE
	    WHERE userIdx=#{userIdx}
	</update>
	
	<update id="updateMember2" parameterType="com.bong.member.Member">
        UPDATE memberInfo SET userPwd=#{userPwd}, 
               userEmail=#{userEmail}, userTel=#{userTel}, userBirth=#{userBirth},
               userAddr=#{userAddr}, userJob=#{userJob}, userGender=#{userGender}
               ,memImg=#{memImg, jdbcType=VARCHAR},memImgname=#{memImgname, jdbcType=VARCHAR},
               modify_date=SYSDATE 
               WHERE userIdx=#{userIdx}
    </update>
    
</mapper>