<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">


<!-- 검색 list관련 -->
	<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(s.created, 'YYYY-MM-DD') = #{searchValue}
	      OR TO_CHAR(s.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>
	
	<!-- Qna인덱스시퀀스 -->
	<select id="qnaSeq" resultType="Integer">
		SELECT qna_seq.NEXTVAL FROM DUAL
	</select>
	
 	<!-- QnA -->
	<insert id="insertQna" parameterType="com.bong.qna.Qna">
	  INSERT INTO qna (qnaIdx, userIdx, subject, content,answer,groupNum,quserIdx) 
	  VALUES (#{qnaIdx}, #{userIdx}, #{subject},#{content},#{answer},#{qnaIdx},#{quserIdx})
	</insert>
	
	<insert id="insertQnaReply" parameterType="com.bong.demander.qna.Qna">
	  INSERT INTO qna (qnaIdx, userIdx, subject, content,answer,groupNum,quserIdx) 
	  VALUES (qna_seq.NEXTVAL, #{userIdx}, #{subject},#{content},#{answer},#{answer},#{quserIdx})
	</insert>
	
	

	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
		 SELECT NVL(COUNT(*), 0) FROM qna q
		 JOIN checkId c ON q.userIdx=c.userIdx
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	   <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>

	<!-- 글리스트 -->
	<select id="listQna" parameterType="map"
	            resultType="com.bong.demander.qna.Qna">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			      SELECT qnaIdx, s.useridx,c.userId,userName,subject, CONTENT, hitCount,to_char(created,'YYYY-MM-DD') created
			      ,answer,groupNum,quserIdx
				  FROM qna q join checkId c on q.userIdx=c.userIdx 
                    <where>
	     	           <if test="searchValue!=null and searchValue!='' ">
	     	               <include refid="where-list"/>
	     	           </if>
	                </where>
	                 ORDER BY groupNum DESC,qnaIdx ASC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
	]]>
	</select>
	
	<!-- 글읽기 -->
	<select id="readQna" resultType="com.bong.demander.qna.Qna" parameterType="map">
	      SELECT qnaIdx, s.useridx,userId,userName, subject,created,CONTENT, hitCount,answer,groupNum
				FROM qna q join checkId c on q.userIdx=c.userIdx
				WHERE qnaIdx = #{qnaIdx}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="map">
		UPDATE qna SET hitCount=hitCount+1 WHERE qnaIdx =#{qnaIdx}
	</update>


     <!-- 수정 -->
     <update id="updateQna" parameterType="com.bong.demander.qna.Qna">
         UPDATE qna SET subject=#{subject}, content=#{content} WHERE qnaIdx =#{qnaIdx}
      </update>
      
      <!-- 삭제 -->
      <delete id="deleteQna" parameterType="map">
             DELETE FROM qna WHERE qnaIdx =#{qnaIdx}
      </delete>
      
     <!--질문의 답변 읽기-->
	<select id="quserIdx" resultType="Integer" parameterType="com.bong.demander.qna.Qna">
	       SELECT c.userIdx FROM qna q JOIN checkId c ON q.useridx=c.useridx
				WHERE groupNum=#{answer} and answer=0 
	</select>
	
	<!-- 답변보기-->
	
	<!-- <select id="deQnaReply" resultType="com.bong.demander.qna.Qna" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT sqnaIdx, subject,groupNum
				FROM service_qna_${demander_seq} s
					JOIN checkid c ON s.useridx=c.useridx
					<where>
						<if test="searchValue != null and searchValue != '' ">
							<include refid="where-list" />
						</if>
						      <![CDATA[
						           AND (groupNum=#{groupNum} and sqnaIdx>#{sqnaIdx})
						      ]]>
				</where>
			ORDER BY sqnaIdx ASC
		)tb WHERE ROWNUM=1
	</select> -->


</mapper>