<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volunTot">

<select id="volunList" parameterType="map" resultType="com.bong.volunList.VolunList">
SELECT * FROM (
	SELECT ROWNUM rNum, tb.* FROM (
	SELECT si.serviceName, tot.*, ct2.subject as lSubject, ct1.subject as sSubject FROM (
	SELECT volunIdx, subject, content, created, hitCount, serviceIdx,
	startDay, SUBSTR(endDay, 6) as endDay, startTime, endTime, SUBSTR(place, 1, 5) as place, progress, volunteer_type, volunDays, themeNum
	FROM volun_bbs) tot
	JOIN serviceInfo si ON tot.serviceIdx=si.serviceIdx
	LEFT OUTER JOIN theme ct1 ON tot.themenum=ct1.themenum 
	LEFT OUTER JOIN theme ct2 ON ct1.parent=ct2.themenum
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
</select>

<select id="dataCount" parameterType="map" resultType="Integer">
	SELECT COUNT(*) FROM volun_bbs
</select>
</mapper>